@import '../../design-system/host-color.css';
@import '../../design-system/host-size.css';

:host {
  display: inline-block;
  line-height: 0;

  color: var(--ds-fg, var(--color-fg-default));
  font-size: var(--ds-font, 18px);
}

.fa-wrapper {
  display: inline-block;
}

:host svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
