/* src/global/base.css */

@layer base {
  html,
  body {
    font-family: var(--font-sans) !important;
    background-color: var(--color-bg-body);
    color: var(--color-fg-default);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
